
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="./images/favicon.ico">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="./styles/reset.css" type="text/css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./styles/styles.css" type="text/css" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Roboto:400,500" rel="stylesheet">

    <title>Wortschatzarbeit</title>
  </head>
  <body>
    <header>
      <h1 id="heading">Wortschatzarbeit</h1>
      <h2 id="sub-heading">Lernen und üben Sie Wörter für Ihren Berufsalltag.</h2>
    </header>
    <main>



<div>
  <li ><a href="index.html"> Friseurinstrumente  </a></li>
  <li ><a href="index.html"> Andere </a></li>
</div>
 

   

    </main>
   
  


  </body>
  </html>



