       
       
       
       <!DOCTYPE html>
<html lang="de">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Business website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-highway.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    
    
    
    <div class="services container" id="services">
        <h2 class="w3-center">Sprachlernspiele <br> Beispiele</h2>
        <div class="cards w3-padding-large w3-margin-top">
          <div class="card w3-card-2 w3-padding-large w3-border w3-border-blue w3-round-large">
            <h3>Memoryspiel</h3>
            <div class="card-text">
              <p>Ein Merkspiel, das beim Aufdecken von Karten man ganz nebenbei den Wortschatz erweitert.</p>
             
              <a   href ="https://lucky-granita-b10f44.netlify.app/" style=" padding: 5px;
    background-color: blue; border-radius: 5px; text-decoration: none; color: white; "> Klicken Sie hier </a>
            </div>
          </div>
          <div class="card w3-card-2 w3-padding-large w3-border w3-border-blue w3-round-large">
            <h3>Zuordnungsspiel: Artikel-Nomen</h3>
            <div class="card-text">
              <p>Ein Zuordnungsspiel, das hilft, die deutsche Artikelregel spielerisch zu üben</p>
              <a   href ="Artikelzuordnungsspiel.html" style=" padding: 5px;
    background-color: blue; border-radius: 5px; text-decoration: none; color: white; "> Klicken Sie hier </a>



            </div>
          </div>
<div class="card w3-card-2 w3-padding-large w3-border w3-border-blue w3-round-large">
            <h3>Hängemann</h3>
            <div class="card-text">
              <p>Ein klassisches Wortratenspiel, bei dem man mit jedem richtigen Buchstaben dem geheimen Wort näherkommt.</p>
              <a   href ="haengemann.html" style=" padding: 5px;
    background-color: blue; border-radius: 5px; text-decoration: none; color: white; "> Klicken Sie hier </a>
            </div>
          </div>

          </body>
        
</script>
            
</html>
